@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,300..700;1,300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --transition-default: 0.3s all ease-in-out;
    --font-heading: "Lato", Arial, Helvetica, sans-serif;
    --font-theme: "Cabin", Arial, Helvetica, sans-serif;
    --size-theme: 14px;


    /* Color Base */
    --primary-color: #E1099E;
    --primary-hover: #F960C9;
    --primary-rgb: 225, 9, 158;

    --primary-400: #F72BB7;
    --primary-200: #FB95DB;
    --primary-100: #FDCAED;
    --primary-50: #FEE4F6;

    --dark-color: #111215;
    --dark-900: #1C1E23;
    --dark-800: #32353E;
    --dark-700: #494D5A;
    --dark-600: #5F6475;
    --dark-500: #767C90;
    --dark-400: #9196A6;
    --dark-300: #ADB1BC;

    --bg-light: #F8F8F9;
}


body {
    position: relative;
    width: 100%;
    color: var(--dark-color);
    font-family: var(--font-theme);
    font-size: var(--size-theme);
    font-weight: 400;
    font-style: normal;
    background-color: var(--bs-white);
}

*::-webkit-scrollbar{
    width: 0;
}

a,
a:hover,
a:focus {
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -o-transition: var(--transition-default);
    transition: var(--transition-default);
    -webkit-transition: var(--transition-default);
}

button,
button:hover,
button:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
    text-decoration: none !important;
    cursor: pointer;
    -o-transition: var(--transition-default);
    transition: var(--transition-default);
    -webkit-transition: var(--transition-default);
    cursor: pointer !important;
}

input,
select,
textarea {
    -o-transition: var(--transition-default);
    transition: var(--transition-default);
    -webkit-transition: var(--transition-default);
}

input:focus,
select:focus,
textarea:focus {
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%) !important;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%) !important;
    outline: none !important;
    border-color: #66afe9 !important;
}

.transition-default {
    -o-transition: var(--transition-default);
    transition: var(--transition-default);
    -webkit-transition: var(--transition-default);
}

.background-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.image-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.image-contain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.object-fit-cover {
    -o-object-fit: cover;
    object-fit: cover;
}

.object-fit-contain {
    -o-object-fit: contain;
    object-fit: contain;
}

.pseudo {
    position: relative;
}

.pseudo:before,
.pseudo:after {
    position: absolute;
    content: '';
    display: block;
}

.zi--1 {
    z-index: -1;
}

.zi-1 {
    z-index: 1;
}

.zi-2 {
    z-index: 2;
}

.zi-3 {
    z-index: 3;
}

.zi-4 {
    z-index: 4;
}

.zi-5 {
    z-index: 5;
}

.zi-10 {
    z-index: 10;
}

.ratio > img {
    -o-object-fit: cover;
    object-fit: cover;
}

.ratio-2x1 {
    --bs-aspect-ratio: 50%;
}

.ratio-3x2 {
    --bs-aspect-ratio: calc(2 / 3 * 100%);
}

.gap-5px {
    gap: 5px;
}

.gap-10px {
    gap: 10px;
}

.gap-15px {
    gap: 15px;
}

.gap-20px {
    gap: 20px;
}

.gap-25px {
    gap: 25px;
}

.gap-30px {
    gap: 30px;
}

.link-default {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;
    border: 0;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    padding: 0;
}

.flex-same {
    -webkit-box-flex: 1 !important;
    -ms-flex: 1 1 0px !important;
    flex: 1 1 0 !important;
}

.fz-10 {
    font-size: .7em;
}

.fz-11 {
    font-size: .775em;
}

.fz-12 {
    font-size: .85em;
}

.fz-13 {
    font-size: .925em;
}

.fz-14 {
    font-size: 1em;
}

.fz-15 {
    font-size: 1.075em;
}

.fz-16 {
    font-size: 1.15em;
}

.fz-17 {
    font-size: 1.225em;
}

.fz-18 {
    font-size: 1.3em;
}

.fz-19 {
    font-size: 1.375em;
}

.fz-20 {
    font-size: 1.45em;
}

.fz-21 {
    font-size: 1.525em;
}

.fz-22 {
    font-size: 1.6em;
}

.fz-23 {
    font-size: 1.675em;
}

.fz-24 {
    font-size: 1.75em;
}

.fz-inherit {
    font-size: inherit !important
}

.color-inherit {
    color: inherit !important
}

.primary-color {
    color: var(--primary-color);
}

.dark-color {
    color: var(--dark-color);
}

.dark-color_900 {
    color: var(--dark-900);
}

.dark-color_800 {
    color: var(--dark-800);
}

.dark-color_700 {
    color: var(--dark-700);
}

.dark-color_600 {
    color: var(--dark-700);
}

.dark-color_500 {
    color: var(--dark-500);
}

.dark-color_400 {
    color: var(--dark-400);
}

.dark-color_300 {
    color: var(--dark-300);
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

.mw-25px {
    min-width: 25px !important;
}

.mw-50px {
    min-width: 50px !important;
}

.mw-75px {
    min-width: 75px !important;
}

.mw-100px {
    min-width: 100px !important;
}

.effect-path svg path {
    transition: var(--transition-default);
}

.effect-path:active svg path {
    fill: var(--primary-color);
}

.button-theme {
    padding: 10px 24px;
    box-shadow: none;
    outline: none;
    border-radius: 56px;
    border: 1px solid transparent;
    gap: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: 700;
    transition: var(--transition-default);
    white-space: nowrap;
}

.button-theme.button-theme_primary {
    color: var(--bs-white);
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}

.button-theme.button-theme_primary:active {
    color: var(--bs-white);
    border-color: var(--primary-hover);
    background-color: var(--primary-hover);
}

.button-theme.button-theme_outline_dark {
    color: var(--dark-color);
    border-color: var(--dark-color);
    background-color: var(--bs-white);
}

.button-theme.button-theme_outline_dark:active {
    color: var(--bs-white);
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}

.modal-theme .modal-dialog {
    -webkit-transform: translate(0, 250px);
    -ms-transform: translate(0, 250px);
    transform: translate(0, 250px);
}

.modal-theme.show .modal-dialog {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.modal-theme .modal-dialog .modal-content {
    border-radius: 24px;
}